.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #FFFFFF;
}

.emailInput {
  background-color: #000000;
  opacity: 0.3;
  color: #FFFFFF;
  width: 250px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
  &::placeholder {
    color: #FFFFFF;
  }
}

.passwordInput {
  background-color: #000000;
  opacity: 0.3;
  color: #FFFFFF;
  width: 250px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
  &::placeholder {
    color: #FFFFFF;
  }
}

.confirmButton {
  width: 260px;
  height: 50px;
  font-size: 20px;
  background-color: #808080;
  border: 1px solid #808080;
  border-radius: 40px;
  color: #FFFFFF;
  &:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #808080;
    border: 3px solid #808080;
  }
}
