.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: white;
}
.emailInput {
  background-color: black;
  opacity: 0.3;
  color: white;
  width: 250px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
  &::placeholder {
    color: white;
  }
}
.passwordInput {
  background-color: black;
  opacity: 0.3;
  color: white;
  width: 250px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
  &::placeholder {
    color: white;
  }
}
.confirmButton {
  width: 260px;
  height: 50px;
  font-size: 20px;
  background-color: grey;
  border: 1px solid gray;
  border-radius: 40px;
  color: white;
  &:hover {
    cursor: pointer;
    background-color: white;
    color: grey;
    border: 3px solid grey;
  }
}
